__pycache__/
*.py[cod]
*$py.class
*.so
db.sqlite3
db.sqlite3-journal
.cache/
*.log
.env
.env.docker
media/
staticfiles/
node_modules/
*.egg-info/
dist/
build/
.venv/
venv/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
